<div class="modal fade" id="modal_post_delete">
    <div class="modal-dialog modal-dialog_menu">
      <div class="modal-content modal-content_menu">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div align="center">wanna delete?</div>
            <a href=""><div align="center" class="modal_need_login clickable" id="post_delete">yes</div></a>
        </div>
        <div class="modal-footer modal-footer_menu">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>