<div class="modal fade" id="modal_following">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div align="center">following</div>
                <div id="modal_following_list">

                </div>
                <a href="">
                    <div class="hidden" align="center" id="modal_following_more">more</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_follower">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div align="center">followers</div>
                <div id="modal_follower_list">

                </div>
                <a href="">
                    <div class="hidden" align="center" id="modal_follower_more">more</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="next_user_id"></div>
<div class="modal fade" id="modal_need_login_follow">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div align="center">need to login</div>
            <a href="/user/accounts/"><div align="center" class="clickable modal_need_login_select">login / sign up</div></a>
        </div>
      </div>
    </div>
</div>