<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CoronaGram</title>
    {% include 'others/header_static.html' %}
    {% include 'others/header_metas.html' %}

    {% load static from staticfiles %}
    {% include 'others/header_navbar.html' %}
</head>
<body>
  <div class="collapse bg-dark" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>About</h4>
          <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-secondary">Follow on Twitter</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Like on Facebook</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12" >
          <h1 class="text-center display-4">CoronaGram</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="chartdiv1" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-2">
          <h3 class="text-danger text-center display-4">World total cases</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">Infected</h3>
          <h4 class="text-center">10110</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center text-uppercase text-danger" style="">Death</h3>
          <h4 class="text-center">3010</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">death / Infected</h3>
          <h4 class="text-center">20%</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">Countries</h3>
          <h4 class="text-center">40</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col" class="text-uppercase w-25">First</th>
                  <th scope="col" class="text-uppercase w-25">Last</th>
                  <th scope="col" class="text-uppercase w-25">Last</th>
                  <th scope="col" class="w-50 text-uppercase">Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>China</td>
                  <td style="">China</td>
                  <td style="">China</td>
                  <td style="">China</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center">News1</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="">몇시간전</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center pt-4">News2</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center pt-4">Youtube</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center" style=""><a class="btn text-white" href="#" style="background:#3b5998" target="_blank"><i class="fa fa-facebook-square fa-fw fa-1x py-1"></i> Share</a></div>
        <div class="col-6 col-md-6 text-center"><a class="btn text-white" href="#" style="background:#55acee" target="_blank"><i class="fa fa-twitter fa-fw fa-1x py-1"></i> Tweet</a></div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2014-2018 Pingendo. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <h2>관련 유튜브 영상</h2>
    <div id="youtube">
        <div class="ytlist">
            <div>
                <a class="text-decoration-none text-reset" href="https://www.youtube.com/watch?v=VkfquGyYtvA"
                   target="_blank">
                    <div class="d-flex flex-wrap flex-sm-nowrap align-items-stretch border-bottom">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/VkfquGyYtvA/mqdefault.jpg">
                        </div>
                        <div class="details">
                            <div class="title">[풀영상] '신종 코로나바이러스' 중앙사고수습본부·중앙방역대책본부 브리핑 (02일 11:00~)</div>
                            <div class="meta">
                                <span>KBS News • 조회수 2.1만 • 2시간 전</span>
                                <br>
                                <span>국내 신종 코로나바이러스 확진자 3명이 추가로 확인됐습니다. 이에 따라, 확진자는 모두 15명으로 늘었습니다. 이와 관련해 오늘 오전 보건복지부...</span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a class="text-decoration-none text-reset" href="https://www.youtube.com/watch?v=Bkltok5THro"
                   target="_blank">
                    <div class="d-flex flex-wrap flex-sm-nowrap align-items-stretch border-bottom">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/Bkltok5THro/mqdefault.jpg">
                        </div>
                        <div class="details">
                            <div class="title">신종 코로나바이러스 이후 실제로 유럽 내 동양인이 겪는 차별과 혐오들 / 스브스뉴스</div>
                            <div class="meta">
                                <span>스브스뉴스 SUBUSU NEWS • 조회수 5.8천 • 5시간 전</span>
                                <br>
                                <span>신종 코로나바이러스 이후 실제로 유럽 내 동양인이 겪는 차별과 혐오들

신종 코로나바이러스가 나타난 지 한 달 째. 확진자가 전 세계적으로 발생...</span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a class="text-decoration-none text-reset" href="https://www.youtube.com/watch?v=Xk7-3UegcMw"
                   target="_blank">
                    <div class="d-flex flex-wrap flex-sm-nowrap align-items-stretch border-bottom">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/Xk7-3UegcMw/mqdefault.jpg">
                        </div>
                        <div class="details">
                            <div class="title">[경제] 신종 코로나바이러스 잡는 '기적의 물질' 한국에서 세계최초 발견! 전 세계가 우한폐렴 벗어나려 한국한테 절하게
                                생겼다!!
                            </div>
                            <div class="meta">
                                <span>퍼펙트경제 • 조회수 50.1만 • 2일 전</span>
                                <br>
                                <span>1만 명 확진자 신종 코로나바이러스에서 전 세계가 벗어나기위해 한국한테 절할 판! 우한폐렴 잡는 '기적의 물질' 한국에서 세계최초 발견!!

-...</span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a class="text-decoration-none text-reset" href="https://www.youtube.com/watch?v=mdX9SesWBNc"
                   target="_blank">
                    <div class="d-flex flex-wrap flex-sm-nowrap align-items-stretch border-bottom">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/mdX9SesWBNc/mqdefault.jpg">
                        </div>
                        <div class="details">
                            <div class="title">‘신종 코로나바이러스’와 ‘사스’·‘메르스’ 무슨 차이 있을까? / 연합뉴스 (Yonhapnews)</div>
                            <div class="meta">
                                <span>연합뉴스 Yonhapnews • 조회수 10.0천 • 2일 전</span>
                                <br>
                                <span>#신종_코로나바이러스 #사스 #메르스 #차이점 #우한

    (서울=연합뉴스) 전 세계를 공포에 휩싸이게 한 '신종 코로나바이러스'.  신종 ...</span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
            <div>
                <a class="text-decoration-none text-reset" href="https://www.youtube.com/watch?v=EZPNBMPAU1w"
                   target="_blank">
                    <div class="d-flex flex-wrap flex-sm-nowrap align-items-stretch border-bottom">
                        <div class="thumbnail">
                            <img src="https://i.ytimg.com/vi/EZPNBMPAU1w/mqdefault.jpg">
                        </div>
                        <div class="details">
                            <div class="title">동양인 전체 혐오로 번진 우한발 신종 코로나 바이러스 후폭풍.."나는 바이러스가 아닙니다"</div>
                            <div class="meta">
                                <span>엠빅뉴스 • 조회수 17.3만 • 2일 전</span>
                                <br>
                                <span>중국 우한에서 시작된 신종 코로나 바이러스 사태가 확산되는 가운데, 세계 곳곳에서 아시아계 전체에 대한 혐오가 확산되고 있습니다.

#신종코로나...</span>
                            </div>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


</body>


</html>