{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if all_country_item %}
        {% for item in all_country_item %}
            <div class="d-none country">
                <div class="name">{{ item.country_code.english }}</div>
                <div class="code">{{ item.country_code.code }}</div>
                <div class="case">{{ item.confirmed }}</div>
                <div class="death">{{ item.death }}</div>
                <div class="recovered">{{ item.recovered }}</div>
                <div class="death-rate">{{ item.death_rate }}</div>

            </div>
        {% endfor %}
    {% endif %}


    <div class="collapse bg-dark" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-info">Tracking real time information of coronavirus worldwide in English, gathering
                        data
                        from diverse organizations globally</p>
                </div>
                <div class="col-md-3 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-secondary">Follow on Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="text-secondary">Like on Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="text-secondary">Email me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center d-block d-md-none">coronagram</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 chartdiv1" style="width: 100%; height: 320px;"></div>
            </div>
        </div>
    </div>
    <div class="" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-2">
                    <h4 class="text-center">World ({{ world_item.country_count }} Countries)</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2" style="">
        <div class="container">
            <div class="row">
                <div class="col-3 border-top border-secondary" style="">
                    <p class="text-center" style="">Confirmed</p>
                    <p class="text-center">{{ world_item.confirmed }}</p>
                </div>
                <div class="col-3 border-top border-secondary" style="">
                    <p class="text-center text-danger" style="">Deaths</p>
                    <p class="text-center">{{ world_item.death }}</p>
                </div>
                <div class="col-3 border-top border-secondary" style="">
                    <p class="text-center" style="">Death%</p>
                    <p class="text-center">{{ world_item.death_rate }}%</p>
                </div>
                <div class="col-3 border-top border-secondary" style="">
                    <p class="text-center" style="">Recovered</p>
                    <p class="text-center">{{ world_item.recovered }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if country_item %}
        <div class="" style="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt-4">
                        <h4 class="text-center">{{ country_item.country_code.english }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-2" style="">
            <div class="container">
                <div class="row">
                    <div class="col-3 border-top border-secondary" style="">
                        <p class="text-center" style="">Confirmed</p>
                        <p class="text-center">{{ country_item.confirmed }}</p>
                    </div>
                    <div class="col-3 border-top border-secondary" style="">
                        <p class="text-center text-danger" style="">Deaths</p>
                        <p class="text-center">{{ country_item.death }}</p>
                    </div>
                    <div class="col-3 border-top border-secondary" style="">
                        <p class="text-center" style="">Death%</p>
                        <p class="text-center">{{ country_item.death_rate }}%</p>
                    </div>
                    <div class="col-3 border-top border-secondary" style="">
                        <p class="text-center" style="">Recovered</p>
                        <p class="text-center">{{ country_item.recovered }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="p-1" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">Forum</h4>
                </div>
            </div>

            {% if posts %}
                {% for post in posts %}
                    <a href="{% url 'forum:detail' id=post.id title=post.title %}">
                        <div class="row">
                            <div class="col-md-8 mx-auto py-1 m-1 border rounded border-secondary" style="">
                                <p class=""><b>{{ post.title }}</b><span class="font-weight-normal"> by <span
                                        class="font-italic">{{ post.author.username }}</span></span>
                                </p>
                                <p class="lead py-0">{{ post.body|safe|truncatechars:30 }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <a href="{% url 'forum:post_list' %}">
                <div class="row">
                    <button class="col-md-8 mx-auto text-center btn btn-primary p-2">More Posts</button>
                </div>
            </a>
        </div>
    </div>

    <div class="pt-0 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <p class="">Data updated: {{ world_item.date_flag.created|timesince }} ago</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-0 mt-0" style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                            <tr>
                                <td scope="col" class="w-25"></td>
                                <td scope="col" class="w-25">Confirmed</td>
                                <td scope="col" class="w-25">Deaths</td>
                                <td scope="col" class="w-25">Recov</td>
                            </tr>
                            </thead>
                            <tbody>

                            {% for all_item in all_country_item_chart %}
                                <tr>
                                    <td>{{ forloop.counter }} {{ all_item.country_code.english }}</td>
                                    <td style="">{{ all_item.confirmed }}</td>
                                    <td style="">{{ all_item.death }}</td>
                                    <td style="">{{ all_item.recovered }}</td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container">
        <a href="{% url 'baseapp:chart' %}">
            <div class="row p-1">
                <button class="col-md-8 mx-auto text-center btn btn-primary p-2">More Countries</button>
            </div>
        </a>
    </div>-->

    {% if cnn_item %}

        <div class="pt-3" style="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Corona News</h4>
                    </div>
                </div>
            </div>
        </div>
        {% for cnn in cnn_item %}

            <div class="py-2">
                <div class="container">

                    <a href="{{ cnn.url }}"
                       target="_blank" rel="noopener noreferrer">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="">{{ cnn.title }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="lead">{{ cnn.content }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{ cnn.published_date_raw|timesince }} ago</p>
                            </div>
                        </div>

                    </a>
                </div>
            </div>

        {% endfor %}
        <div class="container">
            <a href="{% url 'baseapp:news' %}">
                <div class="row">
                    <button class="col-md-8 mx-auto text-center btn btn-primary p-2">More News</button>
                </div>
            </a>
        </div>
    {% endif %}


    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center" style=""><a class="btn text-white col-10"
                                                           href="http://www.facebook.com/sharer.php?u=https://www.coronagram.com{{ request.get_full_path }}"
                                                           style="background:#3b5998"
                                                           target="_blank"><i
                        class="fa fa-facebook-square fa-fw fa-1x py-1"></i> Share</a></div>
                <div class="col-6 col-md-6 text-center"><a class="btn text-white col-10"
                                                           href="https://twitter.com/share?url=https://www.coronagram.com{{ request.get_full_path }}"
                                                           style="background:#55acee"
                                                           target="_blank"><i
                        class="fa fa-twitter fa-fw fa-1x py-1"></i>
                    Tweet</a></div>
            </div>
        </div>
    </div>
    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-uppercase">
                    <h6 class="text-center bg-info">Source</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/situation-reports"
                       target="_blank" rel="noopener noreferrer"><h6 class="text-center">WHO</h6></a>
                    <a href="https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases" target="_blank"
                       rel="noopener noreferrer"><h6 class="text-center">ECDC</h6></a>
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank"
                       rel="noopener noreferrer"><h6 class="text-center">CDC</h6></a>
                    <a href="http://www.nhc.gov.cn/yjb/s3578/new_list.shtml" target="_blank" rel="noopener noreferrer">
                        <h6
                                class="text-center">NHC</h6></a>
                    <a href="https://ncov.dxy.cn/ncovh5/view/pneumonia?scene=2" target="_blank"
                       rel="noopener noreferrer">
                        <h6 class="text-center">DXY</h6></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
