<!DOCTYPE html>
<html lang=en>

<head>
    <meta name="keywords" content="coronagram, corona, wuhan, pneumonia, wuhan pneumonia"/>
    <meta name="author" content="oxibug"/>
    <meta name="title" content="coronagram"/>

    <meta name="description"
          content="Tracking coronavirus worldwide in English in real time, gathering data from diverse organizations globally"/>

    <meta property="og:url" content="https://www.coronagram.com/"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="coronagram"/>
    <meta property="og:site_name" content="coronagram"/>

    <meta property="og:description"
          content="Tracking coronavirus worldwide in English in real time, gathering data from diverse organizations globally"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@coronagram"/>
    <meta name="twitter:creator" content="@coronagram">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script data-ad-client="ca-pub-8253099368332750" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114592573-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-114592573-6');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8253099368332750",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>
<div class="container">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center d-block d-md-none">coronagram</h2>
            </div>
        </div>
    </div>

    <p>

    <h3>
        Coronagram had to moved to Kikiblah.com because of hosting cost.
        <br>
        You can see coronagram data on <a href="https://www.kikiblah.com/bbs/page.php?hid=corona">here</a>
        <br>

        <a href="https://www.kikiblah.com/bbs/page.php?hid=corona"
           style="background: #8e97ed; text-decoration: none; color: white">click to get corona information</a>

        <br>
        Thankyou
    </h3>
    </p>
</div>
</body>


</html>