<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CoronaGram</title>
    {% include 'others/header_static.html' %}
    {% include 'others/header_metas.html' %}

    {% load static from staticfiles %}
    {% include 'others/header_navbar.html' %}
</head>
<body>
  <div class="collapse bg-dark" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-4">
          <h4>About</h4>
          <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3 offset-md-1 py-4">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-secondary">Follow on Twitter</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Like on Facebook</a>
            </li>
            <li>
              <a href="#" class="text-secondary">Email me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12" >
          <h1 class="text-center display-3">CoronaGram</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="chartdiv1" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pt-2">
          <h3 class="text-danger text-center display-4">World total cases</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">Infected</h3>
          <h4 class="text-center">10110</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center text-uppercase text-danger" style="">Death</h3>
          <h4 class="text-center">3010</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">death / Infected</h3>
          <h4 class="text-center">20%</h4>
        </div>
        <div class="col-md-3 border-top border-secondary" style="">
          <h3 class="text-center" style="">Countries</h3>
          <h4 class="text-center">40</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col" class="text-uppercase w-25">First</th>
                  <th scope="col" class="text-uppercase w-25">Last</th>
                  <th scope="col" class="text-uppercase w-25">Last</th>
                  <th scope="col" class="w-50 text-uppercase">Last</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>China</td>
                  <td style="">China</td>
                  <td style="">China</td>
                  <td style="">China</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                  <td>the Bird</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center">News1</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="">몇시간전</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center pt-4">News2</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Heading 1</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="">Heading 3 <span class="badge badge-light"> New</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center pt-4">Youtube</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/ctvlUvN6wSE?controls=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="">Heading 2 <small class="text-muted">subtitle</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center" style=""><a class="btn text-white" href="#" style="background:#3b5998" target="_blank"><i class="fa fa-facebook-square fa-fw fa-1x py-1"></i> Share</a></div>
        <div class="col-6 col-md-6 text-center"><a class="btn text-white" href="#" style="background:#55acee" target="_blank"><i class="fa fa-twitter fa-fw fa-1x py-1"></i> Tweet</a></div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2014-2018 Pingendo. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>

</body>


</html>