<div class="col-xs-12">
    <div class="col-sm-8 col-sm-offset-2 padding_side_5 text-center">
        <div class="col-xs-6 padding_side_5" >
            <a class="fa fa-facebook width_100percent" href="http://www.facebook.com/sharer.php?u=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>
        </div>
        <div class="col-xs-3 padding_side_5">
            <a class="fa fa-twitter width_100percent" href="https://twitter.com/share?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>
        </div>
        <div class="col-xs-3 padding_side_5">
            <a class="fa fa-pinterest width_100percent" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"></a>
        </div>
        <div class="col-xs-2 padding_side_5">
        <a class="fa fa-google width_100percent" href="https://plus.google.com/share?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>

        </div>
        <div class="col-xs-2 padding_side_5">
        <a class="fa fa-linkedin width_100percent" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>

        </div>
        <div class="col-xs-2 padding_side_5">
        <a  class="fa fa-tumblr width_100percent" href="http://www.tumblr.com/share/link?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>

        </div>
        <div class="col-xs-2 padding_side_5">
        <a class="fa fa-digg width_100percent" href="http://www.digg.com/submit?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>

        </div>
        <div class="col-xs-2 padding_side_5">
        <a class="fa fa-reddit width_100percent" href="http://reddit.com/submit?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>

        </div>
        <div class="col-xs-2 padding_side_5">
        <a class="fa fa-vk width_100percent" href="http://vkontakte.ru/share.php?url=https://www.sajufortune.com{{ request.get_full_path }}" target="_blank"></a>
        </div>
    </div>
</div>
