<meta name="keywords" content="galabill, celebs, celebrity, rank, top100"/>
<meta name="author" content="galabill"/>
<meta name="title" content="galabill"/>
<meta name="description" content="make your bias up"/>

<meta property="og:url" content="https://www.galabill.com{{ request.get_full_path }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="galabill"/>
<meta property="og:site_name" content="galabill"/>
<meta property="og:description" content="make your bias up"/>
{% load static from staticfiles %}

<meta property="og:image" content="{% static 'favicon/apple-icon.png' %}"/>

<meta name="twitter:image" content="{% static 'favicon/apple-icon.png' %}">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@galabill"/>
<meta name="twitter:creator" content="@galabill">