<meta name="keywords" content="coronagram, corona, wuhan, pneumonia, wuhan pneumonia"/>
<meta name="author" content="oxibug"/>
<meta name="title" content="coronagram"/>

<meta name="description" content="Tracking coronavirus worldwide in English in real time, gathering data from diverse organizations globally"/>

<meta property="og:url" content="https://www.coronagram.com{{ request.get_full_path }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="coronagram"/>
<meta property="og:site_name" content="coronagram"/>

<meta property="og:description" content="Tracking coronavirus worldwide in English in real time, gathering data from diverse organizations globally"/>

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@coronagram"/>
<meta name="twitter:creator" content="@coronagram">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8253099368332750",
          enable_page_level_ads: true
     });
</script>

